<h1>Histórias Bonitas</h1>
<br />

<ul>
    <li>
        <a href="#/">Página Inicial</a>
    </li>
    <li>
        <a href="#/historias-bonitas">Histórias Bonitas</a>
    </li>
    <li>
        <a href="#/outras-historias">Outras Histórias</a>
    </li>



</ul>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tbody>
        <tr>
            <td><strong>A Par&aacute;bola dos Filhos Cobi&ccedil;osos</strong></td>
        </tr>
    </tbody>
</table>

<p>Havia uma vez um lavrador generoso e muito trabalhador que tinha v&aacute;rios filhos, todos pregui&ccedil;osos e cheios de cobi&ccedil;a. Em seu leito de morte, o velho lavrador lhes disse que encontrariam seu tesouro se viessem a cavar num lugar determinado. Assim que o lavrador morreu, seus filhos correram para o campo, que escavaram de ponta a ponta, com &acirc;nsia e desespero crescentes ao n&atilde;o encontrar o ouro no trecho indicado.</p>

<p>N&atilde;o encontraram o que buscavam. Imaginando ent&atilde;o que por ser muito generoso, o pai distribu&iacute;ra seu ouro em vida, desistiram da busca. Por fim, pensaram que, j&aacute; que a terra fora revolvida, poderiam plantar ali algum cereal. Assim plantaram trigo, que cresceu e deu abundante safra. Eles venderam o produto da colheita e tiveram um ano de prosperidade.</p>

<p>Conclu&iacute;da a colheita, os filhos do lavrador pensaram novamente na remota possibilidade de que o ouro talvez lhes tivesse passado despercebido. E foram cavar de novo em suas terras, mas sem resultado.</p>

<p>
    Transcorridos alguns anos eles acostumaram-se a semear e colher, seguindo o curso das esta&ccedil;&otilde;es, algo que n&atilde;o tinham aprendido antes.&nbsp;<br />
    Foi ent&atilde;o que compreenderam a raz&atilde;o pela qual seu pai usara aquele expediente para disciplin&aacute;-los, e se converteram em lavradores honestos e contentes com sua condi&ccedil;&atilde;o. Finalmente se deram conta de que possu&iacute;am riqueza suficiente para n&atilde;o precisarem se interessar pelo tesouro escondido.
</p>

<p>D&aacute;-se o mesmo com o ensinamento acerca da maneira de entender o destino humano e o significado da vida. O professor, ao defrontar-se com a impaci&ecirc;ncia, a confus&atilde;o e ansiedade dos estudantes, deve encaminh&aacute;-los para uma atividade que ele sabe ser instrutiva e ben&eacute;fica para eles, mas cuja verdadeira fun&ccedil;&atilde;o e objetivo com frequ&ecirc;ncia lhes permanecem ocultos devido a sua pr&oacute;pria inexperi&ecirc;ncia.</p>

<table border="0" cellpadding="10" cellspacing="0" style="width:100%">
    <tbody>
        <tr>
            <td>
                <p><strong>A Par&aacute;bola dos Filhos Cobi&ccedil;osos</strong></p>

                <p>&nbsp;</p>

                <p>
                    <strong>
                        Esta hist&oacute;ria que enfatiza a afirma&ccedil;&atilde;o de que uma pessoa pode desenvolver certas faculdades a despeito de seu esfor&ccedil;o para desenvolver outras &eacute;, de maneira inusitada, muito conhecida. Isto talvez seja devido a ser prefaciada assim:<br />
                        &quot;Aqueles que a repetem obter&atilde;o mais do que sabem&quot;.
                    </strong>
                </p>

                <p><strong>Ela foi publicada pelo frade Roger Bacon (que citava a filosofia sufi e a ensinou em Oxford, de onde foi afastado por ordem do Papa), e pelo qu&iacute;mico Boerhaave, que viveu no s&eacute;culo XVII.</strong></p>

                <p><strong>A presente vers&atilde;o &eacute; atribu&iacute;da ao sufi Hasan de Basra, que viveu h&aacute; quase doze s&eacute;culos.</strong></p>
            </td>
        </tr>
    </tbody>
</table>

<table border="0" cellpadding="5" cellspacing="0" style="width:100%">
    <tbody>
        <tr>
            <td>
                <p>
                    Extra&iacute;do de<br />
                    &#39;Hist&oacute;rias dos Dervixes&#39;<br />
                    Idries Shah<br />
                    Nova Fronteira 1976
                </p>
            </td>
        </tr>
    </tbody>
</table>

